<!DOCTYPE html>
<html>
<head>
    <title>AI Magic Companion</title>
</head>
<body>
    <h1>Welcome to AI Magic Companion!</h1>
    <p>This is your homepage. Use the navigation below:</p>
    <h2>We are here to make your life easier with AI tools</h2>
    <ul>
        <li><a href="{% url 'grammar_check' %}">Grammar Check</a></li>
        <li><a href="{% url 'spell_check' %}">Spell Check</a></li>
        <li><a href="{% url 'translation' %}">Translation</a></li>
        <li><a href="{% url 'plagiarism_checker' %}">Plagiarism Checker</a></li>
        <li><a href="{% url 'text_summarization' %}">Text Summarization</a></li>
        {% comment %} <li><a href="{% url 'language_learning' %}">Language Learning</a></li>
        <li><a href="{% url 'text_generation' %}">Text Generation</a></li>
        <li><a href="{% url 'text_to_speech' %}">Text to Speech</a></li>
        <li><a href="{% url 'speech_to_text' %}">Speech to  Text</a></li>
        <li><a href="{% url 'language_modeling' %}">Language Modeling</a></li> 
        <li><a href="{% url 'content_creation' %}">Content Creation</a></li>  
        <li><a href="{% url 'data_analysis' %}">Data Analysis</a></li>
        <li><a href="{% url 'ai_chatbot' %}">AI Chatbot</a></li>   
        
        <li><a href="{% url 'contact_support' %}">Contact Support</a></li> {% endcomment %}
        
        <!-- Add more links as needed -->
    </ul>
    

    
</body>
<footer>
        <p>&copy; 2025 Language Companion</p>
</footer>
</html>
